include ./mixins.jade

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
         integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7',
         crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css',
         integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r',
         crossorigin='anonymous')

  body
    .blog-masthead
      .container
        nav.blog-nav
          block nav
    .container

      .blog-header
        h1.blog-title Contentful's Express Blog
        p.lead.blog-description An <a href="http://expressjs.com">ExpressJS</a> powered demonstration showcasing Contentful's Blog Space template.

      .row
        .col-sm-8.blog-main
          block content
        .col-sm-3.col-sm-offset-1.blog-sidebar
          .sidebar-module.sidebar-module-inset
            h4 About
            p You can learn more about <a href="https://contentful.com">Contentful</a>, a headless CMS designed for API-first thinkers.
          .sidebar-module
            h4 Categories
            ul.list-unstyled
            each category in categories
              li
                a(href='/category/' + category.sys.id)= category.fields.title
          block sidebar

    footer.blog-footer
      a(href="") Fork me on Github

    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js',
           integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS',
           crossorigin='anonymous')
